* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/galaxy.jpg);
    background-size: cover;
}

.main-header {
    display: block;
}

.nav-header {
    font-size: 1.1em;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-header ul {
    list-style-type: none;
    text-align: center;
}

.nav-header li {
    display: inline
}

.nav-header a {
    padding: 5px 40px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.nav-header a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#main-image {
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    width: 200px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
    color: aqua;
}

h1:hover {
    text-decoration: none;
    color: wheat;
    text-decoration: underline;
}

#hr-below-h1 {
    border: none;
    border-top: 1px solid;
    /* or bottom */
    margin: 1em auto;
    width: 30em;
    color: antiquewhite;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    color: aqua;
}

.more-info {
    text-align: center;
    font-size: 32px;
    color: aqua;
    font-style: italic;
}

.main-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer ul li {
    list-style-type: none;
    display: inline;
}

.social-network {
    text-align: center;
    align-items: center;
}

.social-network a {
    padding: 0.25em;
}

.list-icon a {
    padding: 32px;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding-top: 5px;
    padding-bottom: 14px;
}